# Backend build
backend/target/
backend/data/
backend/uploads/
backend/backend_log.txt
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbbs.db
