# Backend
backend/target/
backend/data/
backend/uploads/
backend/backend_log.txt
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
